<app-home></app-home>
<div class="container">
    <div class="row">
        <h2>Semana 2 - Linguagem C</h2><br>
        <h4>Software utilizados</h4>
        <ul>
            <li>CodeBlocks</li><br>
        </ul>
        <h4>Descrição do curso</h4><br>
        <p>No curso de Linguagem C, tem como objetivo apresentar aos alunos a linguagem de programção C, uma linguagem simples
            de alto nivel.
         </p>
        <p> C é uma linguagem imperativa e procedural para implementação de sistemas. 
            Seus pontos de design foram para ele ser compilado, fornecendo acesso irrestrito à
            memória e baixos requerimentos do hardware. Também foi desenvolvido para ser uma
            linguagem de alto nível, para maior reaproveitamento do código. C foi útil para muitas
            aplicações que foram codificadas originalmente em Assembly.
        </p>
    </div>
</div>

