<app-home></app-home>
<div class="container">
    <div class="row">
        <h2>Semana 4 - HTML</h2><br>
        <h4>Software utilizados</h4>
        <ul>
            <li>Visual Studio Code</li><br>
        </ul>
        <h4>Descrição do curso</h4><br>
        <p>No curso de HTML, tem como objetivo apresentar aos alunos uma linguagem de marcação utilizada para construção de
            paginas web.
        <p> HTML (abreviação para a expressão inglesa HyperText Markup Language, que
            significa Linguagem de Marcação de Hipertexto) é uma linguagem de marcação
            utilizada na construção de páginas na Web. Documentos HTML podem ser interpretados
            por navegadores.
        </p>
        <p>Com a conclusão desse curso os alunos devem ter a capacidade de desenvolver paginas web.</p>
    </div>
</div>

