<!-- <button *ngIf=true><app-register></app-register></button> -->

<h2><strong>Sign Up</strong></h2>
<form>
    <div class="labels">
        <label>Name:</label> 
        <label>Email:</label> 
        <label>Telephone:</label> 
        <label>Gender:</label>
        <label class="login">User:</label>
        <label>Password:</label> 
    </div>
    <div class="inputs">
        <input type="text" name="name" placeholder="Name" class="text">
        <input type="email" name="email" placeholder="Email" class="text">
        <input type="phone" name="phone" placeholder="Phone" class="text">
        <input type="radio" name="gender" value="M" class="radioBtn"> Masculino <br>
        <input type="radio" name="gender" value="F" class="radioBtn"> Feminino <br>
        <input type="radio" name="gender" value="O" class="radioBtn"> Outros <br><br>
        <input type="text" name="user" placeholder="Your user name" class="text">
        <input type="password" name="password" placeholder="Your new password" class="text">
    </div>
    <button (click)="onRegister()">Sign Up</button>
    <p>{{ message }}</p>
</form>

    <!-- <label>Name:</label>    
    <input type="text" name="name" placeholder="Name" class="text"><br><br>
    <label>Email:</label> 
    <input type="email" name="email" placeholder="Email" class="text"><br><br>
    <label>Telephone:</label> 
    <input type="phone" name="phone" placeholder="Phone" class="text"><br><br>
    <label>Gender: </label><br><br>
    <input type="radio" name="gender" value="M" class="text"> Masculino <br>
    <input type="radio" name="gender" value="F" class="text"> Feminino <br>
    <input type="radio" name="gender" value="O" class="text"> Outros <br><br>
    <label>User:</label> 
    <input type="text" name="user" placeholder="Your user name" class="text"><br><br>
    <label>Password:</label> 
    <input type="password" name="password" placeholder="Your new password" class="text"><br><br> -->


<!-- <p *ngFor="let name in names">Test</p> -->
