<div class="container">

    <h2><strong> Sign Up </strong></h2>

    <div id="userData">
        <div>
            <label class="labels">Name</label>
            <label class="labels"></label>
            <div class="wrapper">
                <input type="text" class="box" placeholder="First name"
                 [(ngModel)]="name">
                <input type="text" class="box" placeholder="Last name"
                [(ngModel)]="lastName">
            </div>
        </div>
        <div>
            <label class="labels">Email</label>
            <label class="labels">Phone</label>
            <div class="wrapper">
                <input type="email"  class="box" placeholder="Email"
                [(ngModel)]="email">
                <input type="text" class="box" placeholder="Phone"
                [(ngModel)]="phone">
            </div>
        </div>
            <div>
              <label class="labels lblGender">Gender</label>
              <select class="select">
                <option selected>Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
              </select>
    </div>
    <hr>
    <div id="userLogin">
        <div>
            <label class="labels">User</label>
            <div>
                <input type="text" placeholder="User"
                 class="box" [(ngModel)]="user">
            </div>
        </div>
        <div>
            <label class="labels">Password</label>
            <div>
                <input type="password" placeholder="Password"
                 class="box" [(ngModel)]="password">
            </div>
        </div>
    </div>

    <div id="btnSubmit">
        <button type="submit" class="btn" (click)="createLogin()">Sign Up</button>
    </div>
</div>

<!-- <p>{{ x }}</p> -->
<!-- <p *ngFor="let u of users"> {{ u.firstName }} </p>  --> <!-- //just for test the access elements into the users array-->

<!-- <div>
    <input type="text" [(ngModel)]="u">
    <input type="text" [(ngModel)]="p">
    <button (click)="checkLogin()">Login</button>
    <p>{{ message }}</p>
</div> -->

