*{
    margin: 0;
    padding: 0;
}

h2{
    margin: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
}

hr{
    margin: 30px;
}

/* Ids */

#userData{
    margin: 30px;
   
}

#userLogin{
    margin: 30px auto;
}

#btnSubmit{
    margin: 60px;
    text-align: center;
}

/* Classes */

.container{
    margin: 50px auto;
    border-radius: 5px black;
    box-shadow: 10px 10px 10px rgb(75, 72, 72);
    background-image: linear-gradient(315deg, #000000 0%, #41414193 74%);
}

.labels{
    margin: 20px 450px 10px 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 500px 400px;
    grid-gap: 20px;
  }
  
.box {
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    width: 500px;
}

.select{
    padding: 5px;
    border-radius: 5px;
    border:none;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px rgb(75, 72, 72);
    color: black;
}

.lblGender{
    margin-right: 0px;
}

.btn{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(33, 179, 7, 0.986);
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgb(75, 72, 72);
}

.btn:hover{
    box-shadow: 15px 15px 10px rgb(75, 72, 72);
    background-color: #33e71b;
}




























/* h2{
    margin: 30px 0px 20px 100px;
}
label{
    font: 20px bolder;
    margin: 5px 5px 15px 20px;
    display: block;
}

button{
    margin-top: 330px;
    margin-left: -200px;
    
}
.text{
    padding: 2px;
    margin: 10px;
    width: 200px;
    display: block;
}

.radioBtn{
    margin: 15px 10px 10px 10px;

}

.inputs{
    float: left;
    

}

.labels{
    float: left;
}

.login{
    margin-top: 100px;
} */