<app-home></app-home>
<div class="container">
    <div class="row">
        <h2>Semana 5 - Angular</h2><br>
        <h4>Software utilizados</h4>
        <ul>
            <li>Visual Studio Code</li><br>
        </ul>
        <h4>Descrição do curso</h4><br>
        <p>No curso de Angular, tem como objetivo apresentar aos alunos o framework para construção de paginas web.</p>
        <p> Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript.</p>
        <p>Com a conclusão desse curso os alunos devem ter a capacidade de desenvolver paginas web utilizando TypeScript.</p>
    </div>
</div>
