<app-home></app-home>
<div class="container">
    <div class="row">
        <h2>Semana 3 - Linguagem C#</h2><br>
        <h4>Software utilizados</h4>
        <ul>
            <li>Visual Studio</li><br>
        </ul>
        <h4>Descrição do curso</h4><br>
        <p>No curso de Linguagem C, tem como objetivo apresentar aos alunos a linguagem de programção C sharp, uma linguagem de alto nivel.
         </p>
        <p>C# é uma linguagem de programação, multiparadigma, de tipagem forte, desenvolvida pela Microsoft como parte da plataforma .NET. 
            A sua sintaxe orientada a objetos foi baseada no C++ mas inclui muitas influências de outras linguagens de programação,
            como Object Pascal e, principalmente, Java. O código fonte é compilado para Common Intermediate Language (CIL) 
            que é interpretado pela máquina virtual Common Language Runtime (CLR). C# é uma das linguagens projetadas para funcionar 
            na Common Language Infrastructure da plataforma .NET Framework.
        </p>
        <p>Com a conclusão desse curso os alunos devem ter a capacidade de desenvolver programas exibidos no prompt de comando e em pagina web.
        </p>
    </div>
</div>

