button{
    margin: 5px;
    align-self: center;
    display: relative;
    margin-left: 95px;
}

h1{
    margin-top: 10px;
    text-align: center;
    color: white;
}
li{
    text-align: center;
    display: inline;
}
p,h3,h4{
    color: white;
}

hr{
    margin: 20px 200px;
}