<div class="Menu">
    <button routerLink="/first">Linguagem C</button>
    <button routerLink="/second">Linguagem C#</button>
    <button routerLink="/third">HTML</button>
    <button routerLink="/fourth">Angular</button>
</div>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Programa Padawan</h1><br>
        <p>O Programa Padawan é um programa de capacitação, criado pelo ecossistema Flex para devenvolver e capacitar talentos do grupo e prepara-los para futuras oportunidades internas.</p>
        <h3>Grade do Programa</h3>
        <p>O programa tem duração de 5 semanas separando por cursos em cada semana:</p>
        <h4>Calendario dos cursos:</h4>
        <p>Semana 1: Introdução a Lógica de Programção</p>
        <p>Semana 2: Linguagem C</p>
        <p>Semana 3: Linguagem C# e C# UT</p>
        <p>Semana 4: Linguagem HTML </p>
        <p>Semana 5: Linguagem Angular e Scrum</p>
    </div>
    <router-outlet></router-outlet>
</div>
