<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Conteúdo <span class="caret"></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/first" routerLinkActive="active">Introdução Lógica de Programação</a></li>
                    <li><a routerLink="/second" routerLinkActive="active">Linguagem C</a></li>
                    <li><a routerLink="/third" routerLinkActive="active">Linguagem C#</a></li>
                    <li><a routerLink="/fourth" routerLinkActive="active">HTML</a></li>
                    <li><a routerLink="/fifth" routerLinkActive="active">Angular & Scrum</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h1 style="font-family:Times, serif;">Programa Padawan</h1><br>
        <p>O Programa Padawan é um programa de capacitação, criado pelo ecossistema Flex para devenvolver e capacitar talentos do grupo e prepara-los para futuras oportunidades internas.</p>
        <h3>Grade do Programa</h3>
        <p>O programa tem duração de 5 semanas separando por cursos em cada semana:</p>
        <h4>Calendario dos cursos:</h4>
        <p>Semana 1: Introdução a Lógica de Programção</p>
        <p>Semana 2: Linguagem C</p>
        <p>Semana 3: Linguagem C# e C# UT</p>
        <p>Semana 4: Linguagem HTML </p>
        <p>Semana 5: Linguagem Angular e Scrum</p>
    </div>
</div>
