<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a routerLink = "/app-home" routerLinkActive="active" class="navbar-brand">Projeto Padawan</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <!-- <li><a routerLink = "/app-home" routerLinkActive="active">Home</a></li> -->
            <li><a routerLink="/app-login" routerLinkActive="active">Sign In</a></li>
            <li><a routerLink="/app-register" routerLinkActive="active">Sign Up</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>