.navbar{
    height: 90px;
}

.navbar-brand{
    margin-top: 20px;
    color: black;
    font-size: 30px;
}

h3{
    margin-top: 25px;
    margin-right: 200px;
    color: black;
    font-size: 30px;
}